h1 {
    font-size: 180%;
    text-align : center;
}

h2 {
    font-size: 140%;
    font-family : Arial;
    font-weight : bold;
    text-align : center;
    color : #000090;
}

h3 {
    width: 100%;
    font-size: 130%;
    font-weight: bold;
    color: #ffffff;
    background-color: #0000ff;
    border-top: 2px solid #aaaaff;
    border-left: 2px solid #aaaaff;
    border-right: 2px solid #000088;
    border-bottom: 2px solid #000088;
    padding: 4px 0px 0px 1em;
}

h4 {
    font-size: 130%;
    font-weight: bold;
    padding-left: 1em;
}

h5 {
    font-size: 120%;
    font-weight: bold;
    padding-left: 1.5em;
}

h6 {
    font-size: 110%;
    font-weight: bold;
    padding-left: 2em;
}

p {
    padding-left: 3em;
}

ol {
    margin-left: 3em;
}

ul {
    margin-left: 3em;
}

ol ul {
    margin-left: 0em;
}

ul ol {
    margin-left: 0em;
}

ul ul {
    margin-left: 0em;
}
